body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffff;
}
header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #bbdefb;
    position: relative;
    font-family: Blippo, fantasy;
}
.label {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 25px;

}
.input{
    border-radius: 10px;
    block-size: 30px;
}
.button{
    block-size: 40px;
    font-family: fantasy;
}
.paragrafo{
    padding: 5px;
    background-color: rgb(75, 75, 250);
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
}
/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}
